In [96]:
import pandas as pd

In [97]:
df = pd.read_csv("Apartments.csv", encoding="utf-16", delimiter = ";", error_bad_lines = False)
df.head()

C:\Users\Amar\AppData\Local\Temp\ipykernel_2380\545898836.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("Apartments.csv", encoding="utf-16", delimiter = ";", error_bad_lines = False)
b'Skipping line 946: expected 10 fields, saw 11\n'

,header,location,price,publish date,n of sqm,floor,n of rooms,furnished?,heating system,link
0,"NEWISH,Novogradnja Sarajevo, 70,79m2","Sarajevo, Novi Grad",212.370 KM,17.06.2022. u 15:39,"70,79",4,Trosoban (3),Nenamješten,Ostalo,https://www.olx.ba/artikal/48530366/newish-nov...
1,"NEWISH,Novogradnja Sarajevo, 61,31m2","Sarajevo, Novi Grad",171.668 KM,23.05.2022. u 11:34,"61,31",2,Dvosoban (2),Nenamješten,Ostalo,https://www.olx.ba/artikal/48211088/newish-nov...
2,MY SPACE/ Stan/ Kosevsko brdo/ RENOVIRAN/ 31 m2,Sarajevo - Centar,93.000 KM,29.07.2021. u 14:19,31,Visoko prizemlje,Jednosoban (1),Namješten,Struja,https://www.olx.ba/artikal/44102513/my-space-s...
3,MY SPACE/ Stan/ Novo Sarajevo/ 90 m2,Novo Sarajevo,189.000 KM,17.02.2022. u 10:50,90,1,Trosoban (3),Nenamješten,Struja,https://www.olx.ba/artikal/46880478/my-space-s...
4,MY SPACE/ Stan/ Dobrinja/ RENOVIRAN/ 53(56) m2,"Sarajevo, Novi Grad",195.000 KM,06.06.2022. u 13:55,53,1,Trosoban (3),Polunamješten,Centralno (gradsko),https://www.olx.ba/artikal/48387599/my-space-s...

#### Dealing with missing data

In [98]:
df.isnull().any()

header            True
location          True
price             True
publish date      True
n of sqm          True
floor             True
n of rooms        True
furnished?        True
heating system    True
link              True
dtype: bool

In [99]:
df[df.isnull().any(axis= 1)]

,header,location,price,publish date,n of sqm,floor,n of rooms,furnished?,heating system,link
268,Stan/ Čobanija/ Centar/ 104 m2 + terasa 85 m2,Sarajevo - Centar,320.000 KM,18.06.2019. u 22:18,Prodaja,34249324,NaN,NaN,NaN,NaN
269,18.06.2019. u 22:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,NaN,8507,"Jučer, 08:26",https://www.olx.ba/artikal/34249324/stan-coban...,NaN,NaN,NaN,NaN,NaN,NaN
810,Stan Alipašino Polje,"Sarajevo, Novi Grad",Po dogovoru,10.06.2022. u 14:46,Dvosoban (2),Centralno (gradsko),3,NaN,Nenamješten,https://www.olx.ba/artikal/48442294/stan-alipa...
997,Stambena zgrada u Sarajevu STARI GRAD,Stari Grad,Po dogovoru,08.11.2017. u 16:49,Prodaja,27420753,NaN,NaN,NaN,NaN
998,08.11.2017. u 16:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,17480,Prije 13 dana,https://www.olx.ba/artikal/27420753/stambena-z...,NaN,NaN,NaN,NaN,NaN,NaN
1067,"Trosoban stan 90m2, Strogi Centar Sarajeva",Sarajevo - Centar,240.000 KM,16.02.2020. u 18:56,Prodaja,37050550,NaN,NaN,NaN,NaN
1068,16.02.2020. u 18:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1069,NaN,14133,Prije 19 dana,https://www.olx.ba/artikal/37050550/trosoban-s...,NaN,NaN,NaN,NaN,NaN,NaN
1155,Stan na dobroj lokaciji u samom Centru Sarajev...,Sarajevo - Centar,250.000 KM,18.01.2022. u 19:14,Prodaja,46385256,NaN,NaN,NaN,NaN
1156,18.01.2022. u 19:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1157,NaN,1243,Prije 27 dana,https://www.olx.ba/artikal/46385256/stan-na-do...,NaN,NaN,NaN,NaN,NaN,NaN
1366,Stan Sarajevo 95m2,Novo Sarajevo,85.000 KM,15.03.2022. u 18:30,Prodaja,47269256,NaN,NaN,NaN,NaN
1367,15.03.2022. u 18:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1368,NaN,6645,15.03.2022 u 19:14,https://www.olx.ba/artikal/47269256/stan-saraj...,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
df.dropna(inplace = True)
df.reset_index(inplace = True, drop = True)

#### Check for duplicates

In [101]:
df.duplicated().any()

False

#### Change data coding

In [102]:
# removing spaces

cols = df.columns

for col in df.columns:
    df[f"{col}"] = df[f"{col}"].str.strip()

In [103]:
# posebna data za po dogovoru

po_dogovoru = df[df["price"] == "Po dogovoru"]
po_dogovoru.reset_index(inplace = True, drop = True)

# data akcijska

akcija = df[df["price"] == "Stanje"]

# data bez texta

df = df[(df["price"] != "Po dogovoru") & (df["price"] != "Stanje")]
df.reset_index(inplace = True, drop = True)

In [104]:
# PRICE

# remove currency

df["price"] = df["price"].str[:-2].str.strip()


# remove "."

df["price"] = df["price"].str.replace(".", "")


# change price to numeric

df["price"] = pd.to_numeric(df["price"])

C:\Users\Amar\AppData\Local\Temp\ipykernel_2380\2899580440.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["price"] = df["price"].str.replace(".", "")

In [121]:
# sqm

df["n of sqm"] = df["n of sqm"].str.replace(",", ".")
df["n of sqm"] = df["n of sqm"].str.replace("m2", "").str.strip()

df["n of sqm"] = df["n of sqm"].



df["n of sqm"] = pd.to_numeric(df["n of sqm"], downcast = "float")

ValueError: Unable to parse string "80 / 100" at position 130

In [118]:
df["n of sqm"]

0       70.79
1       61.31
2          31
3          90
4          53
        ...
1123      104
1124       85
1125       68
1126       48
1127       50
Name: n of sqm, Length: 1128, dtype: object

In [119]:
pd.to_numeric(df["n of sqm"], downcast = "float")

ValueError: Unable to parse string "80 / 100" at position 130

In [120]:
df.iloc[130]

header             Četverosoban stan / Aerodromsko / 80 m2 / GARAŽA
location                                        Sarajevo, Novi Grad
price                                                        180000
publish date                                    12.05.2022. u 23:51
n of sqm                                                   80 / 100
floor                                                             2
n of rooms                                         Četverosoban (4)
furnished?                                              Nenamješten
heating system                                     Centralno (Plin)
link              https://www.olx.ba/artikal/48082721/cetverosob...
Name: 130, dtype: object

In [87]:
df.dtypes

header            object
location          object
price              int64
publish date      object
n of sqm          object
floor             object
n of rooms        object
furnished?        object
heating system    object
link              object
dtype: object